/* styling for the movies list */
.container {
  display: flex;
  flex-direction: row;
}

.container--movies {
  cursor: pointer;
  height: 100vh;
  width: 40%;
  overflow-y: scroll;
}

.container--movies * h3 {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

h3:hover {
  background-color: rgb(174, 211, 174);
}

.container--movie {
  width: 60%;
}

/* styling for the movie card */
.movieCard {
  height: 100vh;
  background-color: rgb(174, 211, 174);
  padding: 2rem 4rem;
}

.movieCard--element {
  display: flex;
  flex-direction: row;
}
.movieCard--image {
  max-width: 20%;
  height: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.movieCard--detail-1 {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movieCard--detail-2 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 20px 0;
}
